/* ------------------СТАРТ-ЗМІННІ---------------- */

:root {
  --color-buton: rgba(33, 150, 243, 1);
  --color-text: rgba(117, 117, 117, 1);
  --color-minitext: rgba(255, 255, 255, 1);
  --color-mix: rgba(245, 244, 250, 1);
}

/* ------------ШІНІШ--ЗМІННІ-------------------- */

/* --------СТАРТ--СЕЛЕКТОРИ ПО ТЕГАМ------------ */

body {
  font-family: Roboto;
  color: rgba(33, 33, 33, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* --------ФІНІШ--СЕЛЕКТОРИ ПО ТЕГАМ----------- */

/*--------------СТАРТ--ЧАСТКОВИЙ РЕЗЕТ------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* ----ВОЗМОЖНО ОНО */

p:last-child {
  margin: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------ФІНІШ--ЧАСТКОВИЙ--РЕЗЕТ------------------------ */

/* ---------------СТАРТ РОЗТАШУВАННЯ--------------------- */
/*  Старт - Хедер */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav-link {
  display: flex;
}
.heder-contakt-link {
  display: flex;
  margin-left: auto;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contakt-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-contact-item {
  margin-right: 50px;
}

.header-contact-item:last-child {
  margin-right: 0;
}
/* -----ФІНІШ ХЕДЕР-------- */

/* -----СТАРТ Hero----- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.studio-ha {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.studio-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}
/* -----ФІНІШ Hero----- */

/* ------СТАРТ BENEFITS--- */
.benefits {
  padding-bottom: 47px;
}

.features {
  padding-top: 47px;
}
/* ------ФІНІШ BENEFITS--- */

.ful-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.ful-item:not(:last-child) {
  margin-right: 8px;
}

.ful-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ------СТАРТ ФУТЕР------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}
.footer-street {
  color: #ffffff;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* ------ФІНІШ ФУТЕР------ */

/* ------------------ФІНІШ РОСТАШУВАННЯ------------------*/

/* ХЕДЕР */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-buton);

  /* РОСТАШУВАННЯ */
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.studio-black {
  color: rgba(33, 33, 33, 1);
}
.studio-white {
  color: rgba(255, 255, 255, 1);
}

.header-nav-link .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: rgba(33, 33, 33, 1);
}

.header-nav-link .nav-link:hover,
.button-link-portfolio .link-portfolio:focus {
  color: var(--color-buton);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav-link.current {
  color: var(--color-buton);
}

.heder-contakt-link .contakt-link {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.heder-contakt-link .contakt-link:hover,
.heder-contakt-link .contakt-link :focus {
  color: var(--color-buton);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

/* -----------SVG В ХЕДЕРЕ-------- */

.heder-soc-icon {
  fill: rgba(117, 117, 117, 1);
  margin-right: 10px;
}

.contakt-link:hover .heder-soc-icon,
.contakt-link:focus .heder-soc-icon {
  fill: #2196f3;
}

/* --------------Кінець SVG В ХЕДЕРЕ-------- */

.footer-contakt-link .contakt-links {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.footer-contakt-link .contakt-links:hover,
.footer-contakt-link .contakt-links :focus {
  color: var(--color-buton);
}
/* STUDIO */
.background-img {
  background-color: rgba(47, 48, 58, 1);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-squoosh.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.background-a {
  background-color: rgba(47, 48, 58, 1);
}

.background-b {
  background-color: #e5e5e5;
}
.backgraund-c {
  background-color: var(--color-mix);
}
.backgraund-d {
  color: var(--color-minitext);
}

.studio-ha {
  color: var(--color-minitext);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* FOOTER */
.studio-button {
  font-family: inherit;
  font-style: normal;
  color: var(--color-minitext);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.studio-button:hover,
.studio-button :focus {
  color: var(--color-minitext);
  background-color: #188ce8;
}

.studio-hc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.studio-hd {
  display: block;
  margin-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.studio-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-wrapper {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

/* --------СОЦСЕТИ--------- */
.soc-list {
  display: flex;
  justify-content: center;
}

.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-item:last-child {
  margin-right: 0px;
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}

.soc-icon {
  fill: #afb1b8;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}
/* ------------------------ */
/* --------Нова секція -ПАРТНЕРИ------------ */
.studio-hb {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.partnters-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 94px;
}

.partnters-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.partnters-item:last-child {
  margin-right: 0px;
}

.partnters-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
}

.partnters-icon {
  fill: #afb1b8;
}

.partnters-link:hover,
.partnters-link:focus {
  border: 1px solid #2196f3;
}

.partnters-link:hover .partnters-icon,
.partnters-link:focus .partnters-icon {
  fill: #2196f3;
}

/* --------Кінець секціїї ПАРТНЕРИ------- */

.studio-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* PORTFOLIO */

.button-link-portfolio .link-portfolio {
  font-family: inherit;
  font-style: normal;
  color: rgba(33, 33, 33, 1);
  background-color: var(--color-mix);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.link-portfolio.current {
  color: #ffffff;
  background: #2196f3;
}

.button-link-portfolio .link-portfolio:hover,
.button-link-portfolio .link-portfolio:focus {
  font-family: inherit;
  font-style: normal;
  color: var(--color-minitext);
  background-color: var(--color-buton);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* ------- */

.portfolio-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/* FOOTER */
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-minitext);
}

.email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-steert {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -----------ПОЧАТОК--ФУТЕР СОЦ СЕТИ----------- */

.footer-container {
  display: flex;
  align-items: baseline;
}

.goin {
  margin-left: 70px;
}

.footer-goin {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: normal;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
}

/* ---------------КИНЕЦЬ ФУТЕР СОЦ СЕТИ------------ */

.portfolio-oborder {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/* ------СІТКА------ */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--item)) / var(--item));

  margin: calc(var(--indent) / 2);
}

/* -----ФІНІШ -СІТКА------ */

/* -----СТАРТ ЗМІННІ----- */
.benefits-list {
  --item: 4;
  --indent: 30px;
}
.features-list {
  --item: 3;
  --indent: 30px;
}

.team-list {
  --item: 4;
  --indent: 30px;
}

.portfolio-list {
  --item: 3;
  --indent: 30px;
}
/* -----ФІНІШ ЗМІННІ----- */
/* -------КАРТИНКИ SVG чем займаємс--------- */

.directions-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.directions-icon {
  fill: #afb1b8;
}

/* -----Фініш-картинки SVG чем займаємс------ */
.minibord:hover,
.minibord:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.tiam-bord:hover,
.tiam-bor:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
